
.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-container>* {
  flex: 1 1 33%;
}

.box {
  border: 2px solid gray;
  background-color: white;
}

.footer {
  margin-top: auto;
  height: 4em;
}